{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="container mt-5 mb-5 col-lg-5 col-md-5">
        <h3>S'inscrire</h3>

        {{ form_start(registrationForm) }} <br>
        {{ form_row(registrationForm.lastName) }}<br>
        {{ form_row(registrationForm.firstName) }}<br>
        {{ form_row(registrationForm.email) }}<br>
        {{ form_row(registrationForm.telephone) }}<br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}<br>
        {{ form_row(registrationForm.agreeTerms) }}<br>

        <button type="submit" class="btn btn-success">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
